@import url('https://fonts.googleapis.com/css2?family=Comfortaa:wght@300;400;500;600;700&display=swap');
* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: 'Comfortaa', cursive;
    ;
}

header{
    background-color: rgb(46, 99, 99);
    height: 50px;
    position: fixed;
    width: 100%;
    top: 0;
}
nav{
    display: flex;
    height: inherit;
    width: inherit;
    justify-content: start;
    align-items: center;   
}

nav > a {
text-decoration: NONE;
color: rgb(255, 255, 255);
padding: 0 20px;
font-size: 20px;
}
nav > a:hover {
    color:lightblue;
    }
#about-us{
    margin: 0 auto;
    text-align: center;
}
main{
    margin-top: 60px;
}
hr {
    border: none;
    height: 3px;
    margin: 40px 0;
    background-image: linear-gradient(to right, #FFF, #266363, #FFF);
}
hr:before,
hr:after {
    content: '';
    display: inline-block;
    border-radius: 100%;
    width: 20px;
    height: 20px;
    border: 2px solid #266363;
    position: absolute;
    left: 50%;
    transform: translate(-50%, -50%);
    background: #FFF;
}
img{
    width: 300px;
    height: 300px;
    object-fit: contain;
    object-position: top;
}
.name{
    color: red;
}
.my_game {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    max-width: 300px;
    margin: 15px auto;
}
.my_game > *{
    text-align: center;
}
.my_game input, .my_game button{
    border: none;
    margin: 5px;
    min-height: 30px;
}
.my_game button {
    width: max-content;
    background-color: lightgreen;
    padding: 0 10px;
    border-radius: 5px;
}
.my_game input{
    background-color: lightgray;
    outline: none;  
}
.choosed_block{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.choosed_block_container{
    display: flex;
    gap: 10px;
    flex-wrap: wrap;
    max-width: 650px;

}
.choosed_block_container > div {
    width: 150px;
    height: 200px;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: darksalmon;
}
.choosed_element{
    border: 3px solid black;
}

.posts_block{
    max-width: 600px;
    margin: 20px auto;
}
.posts_block h2{
    text-align: center;
}
.posts_block-container > *{
    margin: 5px;
    padding: 10px;
    border-radius: 10px;
    background-color: lightgray;
}
.button{
    text-align: center;
}
.button button{
    padding: 5px 10px;
}
footer{
    text-align: center;
}